<section class="container-seccion">
  <div class="titulo-seccion">
    <button (click)="volver()" class="icon-back">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h2>Proyectos</h2>
  </div>

  <div *ngIf="!isLoad" style="display: flex; justify-content: center">
    <span class="loader"></span>
  </div>
  <div *ngIf="isError">
    <mat-card>
      <mat-card-header style="margin: 0 auto">
        <mat-card-title>Error</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>No se pudo conectar al servidor.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!isError && isLoad && proyectos.length == 0">
    <mat-card>
      <mat-card-header style="margin: 0 auto">
        <mat-card-title>Lista de proyectos vacia</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>No hay datos en la base de datos.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="isLoad">
    <div class="container-elementos-seccion">
      <mat-card class="card" *ngFor="let proyecto of proyectos">
        <mat-card-header style="margin: 0 auto">
          <mat-card-title>{{ proyecto.titulo }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ proyecto.descripcion }}</p>
          <p>
            <a href="{{ proyecto.gitHubWeb }}" target="_blanck">Link GitHub</a>
          </p>
          <p>
            <a href="{{ proyecto.direccionWeb }}" target="_blanck">Link Web</a>
          </p>

          <!--
          <div *ngFor="let imagen of proyecto.imagenes">
            <img
              mat-card-image
              src="{{ imagen.archivo }}"
              alt="{{ proyecto.titulo }}"
            />
          </div>
          -->
        </mat-card-content>
      </mat-card>
    </div>

    <br />
  </div>
</section>
