<div class="glass card3D">
  <img
    class="card-img-foto"
    src="./../../../assets/imagenes/yo.png"
    alt="foto de Gaspar Jullier"
  />
  <div class="card-header">
    <div class="card-titles">
      <p class="card-title">Gaspar Jullier</p>
      <p class="card-subtitle">Desarrollador fullstack</p>
    </div>
    <img
      class="card-img"
      src="./../../../assets/imagenes/gj.png"
      alt="logo Gaspar Jullier"
    />
  </div>
  <div class="card-description">
    <p>22 años</p>
    <p>Santa Fe, Argentina.</p>
  </div>
</div>
