<div class="bento-grid" id="bento-grid">

  <div class="bento-item">
    <h3 class="seccion-name-hover">{{seccion}}</h3>
  </div>

  <div class="bento-item" >
    <a (click)="linkToExperiencia()" name="Experiencia" #Experiencia>
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/experience.png"
        alt="experiencia"
      />
    </a>
  </div>
  <div class="bento-item" >
    <a (click)="linkToEducacion()" name="Educacion" #Educacion >
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/education.png"
        alt="educacion"
      />
    </a>
  </div>
  <div class="bento-item" >
    <a (click)="linkToHabilidades()" name="Habilidades" #Habilidades>
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/skills.png"
        alt="habilidades"
      />
    </a>
  </div>
  <div class="bento-item">
    <a name="CV" #CV target="_blank" href="./../../../assets/Archivos/CV/CV_Gaspar_Jullier.pdf">
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/cv.png"
        alt="curriculum vitae"
      />
    </a>
    <a href="https://github.com/GaspyGJ" target="_blank" name="Github" #Github>
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/github.png"
        alt="github"
      />
    </a>
  </div>
  <div class="bento-item">
    <img
      class="no-vibration"
      src="../../../../assets/imagenes/IconosPagPrincipal/coding.png"
      alt="icono de computadora"
    />
  </div>
  <div class="bento-item">
    <a (click)="linkToProyectos()" #Proyectos name="Proyectos">
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/proyecto.png"
        alt="proyectos"
      />
    </a>
  </div>
  <div class="bento-item">
    <a name="Linkedin" #Linkedin target="_blank" href="https://www.linkedin.com/in/gaspar-jullier-a8192521b/">
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/linkedin.png"
        alt="linkedin"
      />
    </a>
    <a (click)="linkToContacto()" name="Contacto" #Contacto
      href="mailto:gaspygj@gmail.com"
    >
      <img
        src="../../../../assets/imagenes/IconosPagPrincipal/contacto.png"
        alt="contacto"
      />
    </a>
  </div>
</div>
