.container {
  width: 100vw;
}
.container > .navegacion-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.icon-move-page {
  transform: scale(1);
  color: var(--negro);
  background-color: var(--azul-suave-transparente);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  transition: transform 1s;
}
.icon-move-page:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--azul-suave);
}

@media screen and (max-width: 1400px) {
  .container > .router-container {
    width: 70vw;
  }
}
@media screen and (max-width: 1000px) {
  .container > .router-container {
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .container-icon-move-page {
    display: none;
  }
}
