.skill-container {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.skill-container .tarjeta {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.skill-container .tarjeta:hover {
  cursor: pointer;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
