.container > .card-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  overflow: visible;
}

.icon-move-page {
  transform: scale(1);
  color: var(--negro);
  background-color: var(--azul-suave-transparente);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  transition: transform 1s;
}
.icon-move-page:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--azul-suave);
}

.app-card-3d-animado {
  opacity: 0;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-animation: aparicion-card 1s ease 0s 1 normal forwards;
  animation: aparicion-card 1s ease 0s 1 normal forwards;
}
@-webkit-keyframes aparicion-card {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes aparicion-card {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 1400px) {
  .container > .router-container {
    width: 70vw;
  }
}
@media screen and (max-width: 1000px) {
  .container > .card-container {
    max-width: 90vw;
  }
}
@media screen and (max-width: 600px) {
  .container-icon-move-page {
    display: none;
  }
}
