.container > .btn-ingresar {
  background-color: var(--azul-suave-transparente);
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.container > .btn-ingresar:hover {
  background-color: var(--azul-suave);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.container > .card-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  overflow: visible;
}

.icon-move-page {
  color: var(--negro);
  background-color: var(--azul-suave-transparente);
  border: none;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  transform: scale(1);
  -webkit-animation-name: aparicion-icon-move-pagee;
  animation-name: aparicion-icon-move-page;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  transition: transform 1s;
}
.icon-move-page:hover {
  cursor: pointer;
  transform: scale(1.15);
  background-color: var(--azul-suave);
}

@-webkit-keyframes aparicion-icon-move-page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes aparicion-icon-move-page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-card-3d-animado {
  opacity: 0;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-animation: aparicion-card 1s ease 0s 1 normal forwards;
  animation: aparicion-card 1s ease 0s 1 normal forwards;
}
@-webkit-keyframes aparicion-card {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes aparicion-card {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 1400px) {
  .container > .router-container {
    width: 70vw;
  }
}
@media screen and (max-width: 1000px) {
  .container > .card-container {
    max-width: 90vw;
  }
}
@media screen and (max-width: 600px) {
  .container-icon-move-page {
    display: none;
  }
}
